header{
    text-align: center;
}
body
{
    background-color: darkslategrey;
    color: white;
    font-family: 'Lucida Sans';
    margin-left: 25%;
    margin-right: 25%;
}
div
{
    background-color: whitesmoke;
    color: gray;
    padding: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 1%;
}
h2
{
    text-align: center
}
a
{
    text-decoration: unset;
    color: gray;
}
a:hover
{
    color:whitesmoke;
}
.menu
{
    background-color: darkslategrey;
    color: gray;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}